.order_placed_successful {
    background-color: pink;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 2rem;
    text-align: center;
    transition: all 1s;
    z-index: 3;
    width: 25%;
    background-color: #fff;
}

.order_placed_successful div {
    margin: 0.5rem 0;
}

.order_placed_successful div:nth-of-type(1) i {
    font-size: 2.5rem;
    font-weight: 300;
    color: green;
}

.order_placed_successful div:nth-of-type(3) {
    font-weight: 300;
}

.close_popup {
    position: absolute;
    top: 0.1rem;
    right: 0.7rem;
}

.close_popup:hover {
    cursor: pointer;
    color: red;
}