.static_child1 {
    display: flex;
    padding: 0 4rem;
    justify-content: space-around;
    align-items: center;
    margin-top: -1rem;
}

.static_child2 {
    padding: 0 4rem;
    text-align: center;
    margin-top: 3rem;
}

.static_child2 h2 {
    font-weight: 700;
    margin-bottom: 1rem;
}

.static_child3 {
    display: flex;
    padding: 0 7rem;
    margin-top: 3rem;
    justify-content: space-between;
    align-items: center;
}

.static_child3>div {
    width: 50%;
}

.static_child3>div img {
    width: 90%;
}

.static_child3>div h2 {
    margin-bottom: 1rem;
}

.static_child3>div p {
    font-weight: 400;
    letter-spacing: 0.01rem;
    word-spacing: 0.2rem;
    text-align: left;
}

.static_child4 {
    margin-top: 3rem;
    text-align: center;
    padding: 0 4rem;
}

.static_child4 h2 {
    margin-bottom: 1rem;
    font-weight: 700;
}

.static_child4>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.static_child4>div img {
    width: 85%;
}