.card {
    text-align: center;
    padding: 1rem;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 0 10px #ea9a44;
    border-style: none;
}

.card:hover {
    box-shadow: 0 0 10px #369e45;
}

.child1 {
    margin-bottom: 1rem;
}

.child1 img {
    width: 65%;
    display: block;
    margin: auto;
}

.child2 {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.child3 {
    margin-bottom: 0.7rem;
}

.child3 i {
    color: #ffd200;
    margin: 0 0.2rem;
}

.child4 {
    margin-bottom: 1.4rem;
}

.child4 span {
    margin-right: 0.5rem;
}

.child4 .checkStock {
    font-size: 0.9rem;
    font-weight: 500;
    color: #fff;
    padding: 0.1rem 0.5rem;
    padding-bottom: 0.18rem;
    border-style: none;
    border-radius: 0.6rem;
}

.child5 {
    width: 70%;
    margin: auto;
    margin-bottom: 0.5rem;
}

.child5 input {
    text-align: center;
    font-weight: 600;
    width: 30%;
    padding: 0.7rem;
    border: 1px solid #ea9a44;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: #e2bf99;
}

.child5 input:focus {
    outline: none;
}

.child5 span {
    padding: 0.7rem 1rem;
    font-size: 0.9rem;
    background-color: #ea9a44;
    color: #fff;
    font-weight: 600;
    border-bottom: 1px solid #ea9a44;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.child5 span:hover {
    background-color: #369e45;
    border-bottom: 1px solid #369e45;
    cursor: pointer;
}

.child5 button {
    width: 100%;
    font-size: 0.8rem;
    padding: 0.8rem 0.6rem;
    border-radius: 1rem;
    border-style: none;
    background-color: #e1e1e1;
}

.child5 button:hover {
    background-color: #bdc3c7;
    cursor: pointer;
}

.discount {
    position: absolute;
    top: 5%;
    left: 10%;
    font-size: 0.9rem;
    background-color: #369e45;
    padding: 0.2rem 0.5rem;
    color: #fff;
}