.item {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

.child1 {
    width: 15%;
}

.child1 img {
    width: 70%;
}

.child2 {
    width: 50%;
}

.child2 h3 {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.child2 p {
    background-color: #ea9a44;
    color: #fff;
    display: inline-block;
    padding: 0.07rem 0.9rem;
}

.child3 {
    width: 20%;
    text-align: center;
}

.child3 div:first-of-type {
    width: 80%;
    margin: auto;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #000000;
    margin-bottom: 0.8rem;
    font-weight: 600;
}

.child3 div:first-of-type span {
    width: 30%;
    font-weight: 600;
}

.child3 div:last-of-type:hover {
    cursor: pointer;
    color: red;
}

.child3 i:hover {
    cursor: pointer;
    color: rgb(31, 30, 30);
}

.child4 {
    width: 15%;
    text-align: center;
    font-weight: 600;
    color: #369e45;
}