.totalSum {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #222f3e;
    padding-right: 1.3rem;
}

.totalSum>div:first-of-type {
    width: 50%;
}

.totalSum>div img {
    width: 100%;
}

.totalSum>div:last-of-type {
    text-align: right;
    padding-top: 1rem;
}

.totalSum>div:last-of-type p {
    margin: 0.4rem 0;
}

.totalSum>div:last-of-type button {
    padding: 0.65rem;
    width: 80%;
    margin-top: 0.5rem;
    background-color: #369e45;
    border-style: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}